<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>

  <title>HTML5 Drag and Drop загрузка файлов</title>

  <link rel='stylesheet' href='/recolor/static/colpick.css' />

  <link rel='stylesheet' href='/recolor/static/style.css' />

  <script src='/recolor/static/jquery-1.11.3.js'></script>
  <script src='/recolor/static/jquery.cookie.js'></script>
  <script src='/recolor/static/jquery.session.js'></script>
  <script src='/recolor/static/colpick.js'></script>
  <script src='/recolor/static/sprintf.js'></script>
  <script src='/recolor/static/bitcolor.js'></script>
  <script src='/recolor/static/csscolorparser.js'></script>

  <script src='/recolor/static/helper.js'></script>
  <script src='/recolor/static/dragndrop.js'></script>
  <script src='/recolor/static/recolor.js'></script>

  <script>
    $(document).ready(function() {
      //dummy_stream()
      recolor_init()
      //redirect_stdout()
      //redirect_stderr()
      dragndrop()
    })
  </script>

</head>
<body>

session_id: {{session_id}}
<p> <a href='/recolor/static/example'>Примеры</a> </p>

<div id='dropZone'>
  Для загрузки, перетащите файл сюда.
</div>

<table id='images_table' border='1'></table>

<table>
<tr>
<td>
<form id='matrix_form' method='post'>
  <p><b>Введите матрицу преобразования:</b></p>
  <p><textarea rows='10' cols='45' id='matrix' name='matrix' onchange=matrix_changed()>

    0    0    0        0    0    0
    0    0    1        0    0    1
    0    1    0        0    1    0
    0    1    1        0    1    1
    1    0    0        1    0    0
    1    0    1        1    0    1
    1    1    0        1    1    0
    1    1    1        1    1    1

  </textarea></p>
  <p><input type='submit' value='Применить'></p>
</form>
</td>
<td>
  <table id='colors_table' border='1'></table>
</td>
</tr>
</table>

<!---
<canvas height='320' width='480' id='color_map'>Canvas не поддерживается браузером</canvas>
-->

</body>
</html>
